<div class="card">
    <div class="div card-img-top">
        <img src="{{sprites.front_default}}" alt="{{name}}" />
    </div>
    <div class="card-body">
        <h2 class="card-title"> Name: {{name}}</h2>
        <p class="card-text">Weight: {{weight}}</p>
        <p class="card-text">Height: {{height}}</p>
        <p class="card-text">Abilities</p>
        <ul class="list-group">
        {{#each abilities}}

            <li class="list-group-item"> {{ability.name}}</li>
        </ul>
        {{/each}}

    </div>
</div>